body {
    margin: 0;
    padding: 0;
}

#controls, #controls_bot {
    text-align: center;
    line-height: 2rem;
}

#games {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
    background: #000;
}

.game {
    background: #ccc;
    position: relative;
    overflow: hidden;
    margin: 0.25rem;
}
.game .ball, .game .play, .game .goal {
    position: absolute;
    border-radius: 50%;
}
.game .ball {
    background: #c00;
}
.game .play {
    background: #00c;
}
.game .goal {
    background: #000;
}

canvas {
    width: 0;
    height: 0;
    border: 1px solid #f00;
    image-rendering: pixelated;
}

main {
    display: flex;
    flex-flow: row;
}

#info {
    overflow-wrap: break-word;
}

input[type="number"] {
    width: 5em;
}
