body {
  margin: 0;
  padding: 0; }

#info {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between; }

#controls {
  text-align: center; }

#games {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem;
  background: #000; }

.game {
  background: #ccc;
  position: relative;
  overflow: hidden;
  margin: 0.25rem; }
  .game .ball, .game .play, .game .goal {
    position: absolute;
    border-radius: 50%; }
  .game .ball {
    background: #c00; }
  .game .play {
    background: #00c; }
  .game .goal {
    background: #0c0; }
